<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
	<%= image_tag @picture.photo %>
	</p>
<p></p>
<p>Tags</p>
<p>
<% @tags.each do |tag| %>
	<u><%= tag.tagcontent %></u>
<% end %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
